@import 'config';

.navbar{
    padding: 20px 0;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    font-family: $title-font;
    letter-spacing: 1px;

    .logo-title{
        color: set-text-color($primary-color);
        cursor: pointer;
        
    }

    .nav-list{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 40px;
        padding: 5px 10px;
        width: 450px;
        align-items: center;
        justify-content: center;
        

        .nav-item{
        padding: 10px;
        border-radius: 20px;
        transition: 0.4s box-shadow;
        width: 150px;
        text-align: center;
        
        &:hover {
            box-shadow: 5px 5px 35px 0px rgba(255, 255, 255, 0.5);
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            @include transition-ease;
        }
        
          
        
        }
        
    }
}